# OSX
.DS_Store
.AppleDouble
.LSOverride

# VSCode
.vscode/*
!.vscode/settings.json

# NPM Modules
node_modules/

# Dotenv Environment Variables File
.env

# Intellij
.idea
target
*.iml

.eslintcache
